<%- include("partials/header.ejs") %>
<h1>Edit Post</h1>

<form action="/posts/<%= postId %>/update" method="POST">
    
    <input type="text" name="title" class="form-control mb-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Title" value="<%=post.title%>">
    <input type="text" name="author" class="form-control mb-3" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Author" value="<%= post.author %>">
    <input type="text" class="form-control mb-3 content--area" aria-label="With textarea" name="content" value="<%= post.content %>" >
    
    <input class="btn btn-primary publish-btn mb-3" type="submit" value="Update">
</form>
<%- include("partials/footer.ejs") %>